<p>This is the base template</p>

{% load staticfiles %}
<!DOCTYPE html>
<html>

<hr>
<head>
  <meta charset="UTF-8">
  <title>Outer Title Hidden
      {% block title %}This is for the block labeled title{% endblock %}
  </title>
{% block meta %}This is for the block labeled meta{% endblock %}
</head>


<hr>
<body>
{% block menu %}Block labled menu BUT Maybe I am not allowed a rename!
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'bead_list' %}">Beads</a></li>
          <li><a href="{% url 'matron_list' %}">Matrons</a></li>
          <li><a href="{% url 'necklace_list' %}">Necklaces</a></li>
          <li><a href="{% url 'bowl_list' %}">Bowls</a></li>
        </ul>
End Menu{% endblock %}

<hr>
{% csrf_token %}
{% if request.user.is_authenticated %}
            <li>
              {{ user.username }}
            </li>
            <li>
              <a href="{% url 'auth_logout' %}">Logout</a>
            </li>            
          {% else %}
            <li>
              <a href="{% url 'auth_login' %}">Register / Login</a>
            </li>
          {% endif %}

<hr>
{% block content %}This is for the block labeled content{% endblock %}
</body>